/* 
====================================
    Hamburger 
====================================
*/


.hamburger-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.hamburger-menu-btn {
    width: 20px;
    height: 1px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.hamburger-menu-btn::after,
.hamburger-menu-btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.hamburger-menu-btn::before {
    transform: translateY(-8px);
}

.hamburger-menu-btn::after {
    transform: translateY(8px);
}


/* 
====================================
    Animation 
====================================
*/

.hamburger-menu.open .hamburger-menu-btn {
    transform: translate(-50px);
    background: transparent;
    box-shadow: none;
}

.hamburger-menu.open .hamburger-menu-btn::before {
    transform: rotate(45deg) translate(35px, -35px);
    
}

.hamburger-menu.open .hamburger-menu-btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* 
====================================
    Responsive 
====================================
*/

@media only screen and (min-width:1600px) {
    .banner-inner-right {
        background-size: 87%;
    }
}


@media only screen and (max-width:1440px) {
    .custom-dots-container {
        margin-top: -30px;
        margin-left: 60px;
    }
}

@media only screen and (max-width:1366px) {

    /* 
    ====================================
        Site Banner 
    ====================================
    */


    .banner-heading h3 {
        font-size: 80px;
        font-weight: 700;
        line-height:95px;
        margin: 0;
        margin-bottom: 25px;
    }

    .banner-inner-right {
        background-position: bottom center;
        background-size: 95%;
        margin-left: 0;
    }

    .icon-id {
        top:137px;
    }

    .icon-ps {
        top:137px;
        right: 90px;
    }

    .icon-xd {
        right: -14px;
    }

    .icon-ai {
        left: -14px;
    }

    .project-image {
        justify-content: center !important;
    }

    .project-wrapper {
        padding: 0 35px;
    }

    .owl-item {
        padding-left: 120px;
    }

     /* 
    ===============================
        Footer styles
    ===============================
    */

    .footer-section-2 {
        width: 54% !important;
    }

    .footer-section-3 {
        width: 29% !important;
    }

    .info-icon-div {
        padding: 30px !important;
    }
}


@media only screen and (max-width:1024px) {

    /* 
    ====================================
        Responsive 
    ====================================
    */

    .header-nav-menu {
        display: none;
    }
    
    .header-inner-column-1 {
        width: 50% !important;
    }

    .header-inner-column-3 {
        width: 50% !important;
    }

    .header-inner-column-2 {
        justify-content: end;
        display: none;
    }
    
    .hamburger-menu {
        display: flex !important;
    }


    /* 
    ====================================
        Mobile Menu 
    ====================================
    */

    .mobile-menu {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: var(--bg-darkGray) !important;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        overflow: hidden;
        transition: opacity 1s ease-out;
        opacity: 0;
    }

    .active-menu {
        display: flex !important;
        opacity: 1;
        transform: none;
        z-index: 2222;
    }

    .mobile-menu::after,
    .mobile-menu::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .close-btn {
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 200;
        margin-top: 30px;
        align-self: center;
        padding: 20px;
        font-size: 25px;
        z-index: 10000;
    }

    .mobile-menu .header-nav-menu {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        align-items: center;
        margin-left: 0;
        margin-top: 50px;
    }

    .mobile-menu .header-nav-menu .header-nav-item .header-nav-link {
        font-size: 45px !important;
    }

    .mobile-menu .header-nav-menu .header-nav-item .header-nav-active {
        border: none !important;
    }

    
    
    /* 
    ====================================
        banner styles 
    ====================================
    */
    
    
    /* .header-inner-column-3 {
        width: 34% !important;
    } */


    .banner-heading h1 {
        font-size: 40px;
    }

    .banner-description {
        font-size: 14px;
    }

    .banner-inner-right {
        background-position:center center;
        background-size: contain;
        padding-top: 41px;
        
    }
    
    .banner-image img {
        max-width: 100%;
    }

    .banner-inner-heading {
        margin-bottom: 0px;
    }


    .banner-icons div {
        font-size: 25px;
        padding: 20px;
    }

    .banner-icons div svg {
        height: 23px;
        width: 36px;
    }
    
    .icon-id {
        top: 180px;
        left: 2% !important;
    }

    .icon-ps {
        top: 180px;
        right: 2% !important;
    }
    
    .icon-ai {
        top: 274px;
        left: -2% !important;
    }

    .icon-xd {
        top: 274px;
        right: -2% !important;
    }
    
    /* 
    ====================================
        Skills section styles 
    ====================================
    */

    .card-title h3 {
        font-size: 20px;
    }

    .card-description p {
        font-size: 14px !important;
    }

    .skills-card {
        padding: 30px 10px;
    }
    
    .skills-left-section {
        width: 60% !important;
    }

    .skills-right-section {
        padding: 0 0 0 30px !important; 
        row-gap: 12px;
        width: 40% !important;
    }

    .skills-heading h2 {
        font-size: 25px;
        line-height: 33px !important;
    }

    .skills-description p {
        font-size: 14px;
    }

    .skills-btn {
        display: none;
    }
    
    /* 
    ====================================
        Skills section styles 
    ====================================
    */
    
    .project-left-section,
    .project-right-section {
        width: 50%;
    }

    .portfolio-image {
        left: 24px;
    }

    .image-background svg {
        width: 109%;
    }

    .project-heading a h2 {
        font-size:24px;
    }

    .stats div span.sta {
        font-size: 50px;
    }

    .stats div {
        padding: 50px 0px !important;
    }

    .stats div span.aw-info {
        font-size: 14px;
    }

    .stats div:first-child {
        border-radius: 25px 0 0 25px ;
    }

    .stats div:last-child {
        border-radius: 0 25px 25px 0;
    }

    .animation svg {
        width: 200px !important;
    }

    .margin-top {
        margin-top: -358px !important;
    }

    .project-reverse .project-right-section .project-image .portfolio-image {
        transform: translate(-22px, -50%);
    }

    /* 
    ====================================
        Testimonial section styles 
    ====================================
    */

    .slider-inner-left {
        padding: 20px !important;
    }

    .owl-item {
        padding-left: 0px;
    }

    .slider-inner-right {
        padding-left:30px !important;
    }

    .testimonial-description p {
        font-size: 18px !important;
        padding-bottom: 10px;
        line-height: 1.4em;
        max-width: 549px;
    }

    .testimonial-quotes {
        padding-bottom: 20px;
    }

    .testimonial-name {
        font-size: 18px;
        line-height: 1.4em;
        margin: 0;
        padding: 0 0 10px;
    }

    .custom-dots-container {
        margin-top: -50px;
        margin-left: -95px;
        z-index: 4;
        position: relative;

    }


    /* 
    ===============================
        contact-section
    ===============================
    */
    
    .contact-heading h3 {
        font-size: 25px !important;
        margin: 0 0 10px !important;
    }
    
    .contact-description p {
        font-size: 14px;
        max-width: 517px;
        text-align: center;
    }

    /* 
    ===============================
        Footer styles
    ===============================
    */

    .footer-section-2 {
        width: 39% !important;
    }

    .footer-section-1,
    .footer-section-3 {
        width: 30% !important;
    }

    .footer-description p {
        font-size: 13px;
        text-align: center;
        line-height: 2em ;
    }
    
    .social-icons {
        justify-content: end;
        column-gap: 10px;
    }
    
    .social-icons .social-icon-btn {
        border-radius: 10px;
        height: 40px;
        width: 40px;
    }

    .contact-row {
        flex-direction: column !important;
        row-gap: 80px;
    }

    .contact-row .contact-right-section,
    .contact-row .contact-left-section {
        width: 100% !important;
    }

    .col-info-right.col-md-6,
    .col-info-left.col-md-6 {
        width: 45% !important;
    }

    .contact-pg-description p {
        font-size: 14px !important; 
    }

    .contact-inner-container {
        padding: 100px 35px;
    }


    .single-container .row {
        flex-direction: column;
        row-gap: 50px;
    }

    .project-img img {
        height: 550px;
    }

    .single-description p {
        font-size: 16px !important;
        line-height: 25px;
    }

    .single-heading h1 {
        font-size: 35px;
    }
}



@media only screen and (max-width:769px) {
    
    .banner-inner-left {
        width: 45% !important;
        padding-top: 30px;
    }
    
    .banner-inner-right {
        width: 55% !important;
        display: flex;
        justify-content: center;
        padding-top: 0;
        align-items: center;
        height: fit-content;
    }

    .banner-image {
        display: block;
    }

    .display-none{
        display: none;
    }

    .header-inner-column-2 {
        display: none;
    }
    

    .banner-heading h3 {
        font-size: 40px !important;
        line-height: 50px;
        margin-bottom: 10px;
    }
    
    .banner-icons div {
        padding: 15px;
    }
    
    .banner-icons div svg {
        height: 20px;
        width: 33px;
    }

    .icon-id,
    .icon-ps {
        top:70px;
    }

    .icon-ai {
        top: 179px;
        left: -6% !important;
    } 

    .icon-xd {
        top: 179px;
        right: -6% !important;
    }   

    .banner-btn {
        padding: 15px 34px 15px !important;
    }
    
    /* 
    ====================================
        Skills section styles 
        ====================================
    */

    .skills-section {
        padding-left:0px;
        padding-right:0px;
    }

    .skills-section .row {
        flex-direction: column-reverse;
    }
    
    .skills-right-section,
    .skills-left-section {
        width: 100% !important;
    }
    
    .skills-right-section {
        padding: 0 !important;
    }
    
    .skills-card {
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 48px !important;
    }
    
    .skills-btn {
        display: flex;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .skills-btn button {
        width: 100% !important;
    }
    
    .project-description {
        max-width: 534px;
    }
    
     /* 
    ====================================
        portfolio section styles 
    ====================================
    */

    .project-wrapper {
        flex-direction: column-reverse;
    }

    .image-background svg {
        width: 130%;
        margin-left: -105px;
        height: fit-content;
    }

    .portfolio-image {
        left: 0;
    }
    
    .project-reverse {
        flex-direction: column;
    }

    .project-left-section {
        width: 100% !important;
    }

    .project-right-section {
        width: 100% !important;
    }

    .animation {
        justify-content: center !important;
        margin-top: 109px;
    }

    .animation svg {
        width: 200px;
    }
    
    .counter-animation-2 {
        left: 20px;
    }
    
    .stats {
        flex-direction: column;
    }
    
    .stats div {
        width: 100% !important;
        padding: 30px 20px !important;
    }
    
    
    .stats div:first-child {
        border-radius: 20px 20px 0 0 ;
    }
    
    .stats div:last-child {
        border-radius: 0 0 20px 20px;
    }
    
    .margin-top {
        margin-top: -257px !important;
    }

    .custom-dots-container {
        margin-top: 10px;
        margin-left: -45px;
        z-index: 4;
        position: relative;
        
    }
    
    .slider-inner-right,
    .slider-inner-left {
        width: 100% !important;
    }

    .testimonial-description p {
        font-size: 14px !important;
        line-height: 2em;
        max-width: 94% !important;
    }

    .slider-inner-left {
        background-position:center !important ;
    }

    .testimonial-image img {
        width: 70% !important;
        margin-left: 20px;
    }

    .testimonial-quotes {
        margin-top: 30px;
    }
    /* 
    ===============================
        contact-section
    ===============================
    */

    .contact-heading h3 {
        font-size: 25px;
        line-height: 1.5em;
    }

    .contact-description {
        font-size: 14px;
        line-height: 1.6em;
        max-width: 212px;
    }

    .contact-btn button {
        padding: 15px 20px;
    }

    .contact-container {
        background-size: 90px auto;
    }

    .background-overlay {
        background-size: 70px auto;
    }

    /* 
    ===============================
        Footer styles
    ===============================
    */

    .footer-section {
        width: 100% !important;
    }

    .social-icons {
        justify-content: center;
    }

    .inner-footer .footer-row {
        flex-direction: column;
        row-gap: 20px;
    }


    .col-info-right.col-md-6,
    .col-info-left.col-md-6 {
        width: 100% !important;
    }

    .contact-heading h1 {
        font-size: 30px !important;
    }

    .info-column {
        row-gap: 30px;
    }
    
    .col-info-right.row,
    .col-info-left.row {
        row-gap: 20px;
    }
    .single-right-section,
    .single-left-section {
        width: 100% !important;
    }

    .project-img img {
        height: 350px;
    }

    .inner-right {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .single-icons {
        flex-direction: column;
        row-gap: 20px;
    }

    .single-icon {
        width: 70% !important;
    }

    .project-wrapper {
        width: 100% !important;
        padding: 0 !important;
    }
}


@media only screen and (max-width:500px) {
   .site-banner {
       flex-direction: column;
        padding-top: 40px;
        row-gap: 30px;
   }

   .banner-btn {
        width: auto !important;
    }  

    .banner-inner-left,
   .banner-inner-right {
    width: 100% !important;
}
}

