/* main styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ==== Variable define ==== */

:root {
    --primary-color: #ecf2fd;
    --secondary-color: #64f4ab;
    --third-color: #fecd1a;
    --orange-color: #ffaf29;
    --bg-dark: #25262A;
    --bg-darkGray: #2D2E32;
    --black-color: #000;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --color-white: #fff;
    --e-global-color-accent: #64f4ab;
    --e-global-color-c51b028: #327a56;
    --e-global-color-secondary: #fecd1a;
    --e-global-color-text: #ffaf29;
}

html {
    scroll-behavior: smooth;
}

.inner-body-wrapper {
    font-family: var(--primary-font) !important;
    overflow: hidden;
    font-size: 100%;
    font-weight: 400;
    max-width: 100%;
    background-color: var(--bg-darkGray) !important;
}

/* 
====================================
    Custom CSS Desing
====================================
*/

p {
    color: var(--color-white) !important;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    font-family: var(--primary-font);
}

h1 {
    font-size: 78px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--color-white) !important;
    font-family: var(--secondary-font) !important;
}

h2 {
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-white);
    margin: 0 0 15px;
    padding: 0;
    font-family: var(--secondary-font) !important;
    color: var(--color-white) !important;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: var(--secondary-font) !important;
    color: var(--color-white) !important;
}

.primary-btn {
    background-color: transparent;
    background-image: linear-gradient(91deg, var(--third-color) 0%, var(--orange-color) 100%);
    border-radius: 14px;
    font-family: 'Montserrat', Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding: 17px 45px 20px;
    height: max-content;
    width: fit-content;
}

.primary-btn:hover {
    background-color: transparent;
    background-image: linear-gradient(91deg, var(--orange-color) 0%, var(--third-color) 100%);
    color: #000;
}

.btn-secondary {
    background-color: #e8e8e8;
    border-radius: 14px;
    font-family: 'Montserrat', Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    height: max-content;
    width: fit-content;
    border-radius: 14px;
    box-shadow: 0 10px 15px 0 rgba(232, 232, 232, .25098039215686274);
    padding: 15px 45px;
    border: none;
    margin: auto !important;
    margin-top: 40px !important;
}

.btn-secondary:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
    background-color: #25262A;
    color: var(--color-white);
}

.social-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 56px;
    transition: .8s;
    border-radius: 14px;
    background-color: var(--bg-darkGray);
    color: var(--orange-color);
}

.social-icon-btn:hover {
    background-color: var(--orange-color);
    color: #000;
}

.social-icon {
    font-size: 20px;
}

.btn {
    display: flex;
}


/* 
====================================
    Header Styles
====================================
*/

.top-section {
    max-width: 1600px;
    padding: 25px 35px;
    margin: auto;
    background-color: var(--bg-dark);
    padding-bottom: 0;
}

.header-inner {
    display: flex;
    flex-direction: row;
    width: auto !important;
}

.header-inner-column {
    display: flex;
    flex-direction: row;
    max-width: 100% !important;
}

.header-inner-column-1 {
    max-width: fit-content;
}



.header-inner-column-3 {
    display: flex;
    justify-content: end;
    column-gap: 34px;
    align-items: center;
    margin-left: auto;
}

.header-nav-menu {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 33px;
    padding: 0;
    width: 100%;
    margin-left: 26px;
    margin-top: 4px;
    column-gap: 50px;
}

.header-nav-link {
    font-size: 18px;
    color: #e8e8e8;
    font-weight: 400;
}

.header-nav-active {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-bottom: 4.2px solid #fff;
    padding-bottom: 5px;
}

.header-nav-link:hover {
    font-weight: 600;
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 2px;
}

.hamburger-menu {
    display: none !important;
}

.mobile-menu .header-nav-menu {
    display: none;
}

.close-btn {
    display: none;
}

.btn-div {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}


/* 
====================================
    Banner Styles
====================================
*/

.site-banner {
    max-width: 100%;
    flex-wrap: nowrap !important;
    margin-top: 50px !important;
    margin: 0 !important;
}

.banner-inner-left {
    justify-content: start;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-top: 116px;
    padding-left: 0 !important;
}

.banner-inner-right {
    background: url('/images/hero-img-bg.png');
    background-repeat: no-repeat;
    background-size: 93%;
    background-position: bottom center;
    position: relative;
    padding-top: 15px;
    margin-left: -26px;
}

.banner-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-title p {
    color: var(--secondary-color) !important;
    margin: 0;
    font-size: 16px !important;
    letter-spacing: 0.3px;
}

.divider {
    width: 18px;
    height: 2px;
    background-color: #294F3F;
    margin-right: 4px;
}

.banner-heading h1 {
    font-size: 78px;
    font-weight: 600;
    margin: 0;
}

.banner-heading h3 {
    font-size: 100px;
    font-weight: 700;
    line-height: 107px;
    margin: 0;
    margin-bottom: 25px;
}

.banner-description {
    max-width: 485px;
}

.banner-btn {
    padding: 15px 47px 15px !important;
    margin-top: 8px;
    width: fit-content !important;
}


.banner-image {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    z-index: 1000 !important;
}

.banner-image img {
    max-width: 100%;
    margin-top: -20px;
}


.banner-icons div {
    font-size: 26px;
    padding: 30px;
    background-color: var(--bg-darkGray);
    border-radius: 50%;
    width: fit-content;
    display: inline-block;
    position: absolute;
    z-index: 0;
}

.icon-xd {
    top: 377px;
    right: 1px;
    width: auto;
}

.icon-ps {
    top: 105px;
    right: 111px;
    width: auto;
}

.icon-ai {
    top: 377px;
    left: 1px;
    width: auto;
}

.icon-id {
    top: 105px;
    left: 111px;
    width: auto;
}


/* 
====================================
    skills section Styles
====================================
*/

.main-container {
    max-width: 1600px;
    margin: auto;
    padding: 0 35px;
}

.skills-section {
    max-width: auto;
    padding: 160px 15px 130px;

}

.skills-card-bottom,
.skills-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills-card {
    padding: 60px 20px 45px;
    width: 48% !important;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    row-gap: 3px;
    background-color: var(--bg-dark) !important;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--secondary-color);
    width: fit-content;
    padding: 30px;
    border-radius: 50%;
    background-color: var(--bg-dark) !important;
    align-self: center;
    margin-left: 4px;
}

.card-description,
.card-title {
    text-align: center;
}

.card-title {
    margin-top: 27px;
    margin-bottom: 4px !important;
}

.card-title h3 {
    font-size: 28px;
    font-weight: 700;
}

.card-descrtiption p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.skills-right-section {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    padding: 154px 0 0 160px !important;
}

.skills-heading h2 {
    font-size: 38px;
    line-height: 1.4;
    font-weight: 600;
}

.skills-card:hover {
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--secondary-color) 0%, #327a56 100%);
    box-shadow: 25px 25px 30px 0 rgba(100.00000000000001, 244, 171.00000000000006, .14901960784313725)
}

.skills-card:hover .card-icon {
    background: transparent linear-gradient(180deg, var(--e-global-color-c51b028) 0%, var(--e-global-color-accent) 100%) 0% 0% no-repeat padding-box !important;
}

.skills-card:hover .card-icon svg g path {
    fill: var(--color-white);
}

.project-title,
.skills-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-title p,
.skills-title p {
    color: var(--secondary-color) !important;
    margin: 0;
    font-size: 16px !important;
    letter-spacing: 0.3px;
}

.skills-heading h2 {
    font-size: 38px;
    line-height: 55px !important;
    letter-spacing: 0.4px;
}

.skills-description p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}


/* 
====================================
    project section Styles
====================================
*/


.project-wrapper {
    max-width: 1340px;
    margin: auto !important;
    padding: 0;
    overflow: visible;
    align-items: center;
    z-index: 4;
    position: relative;
}

.project-left-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
}

.project-heading a h2 {
    font-size: 38px;
    font-weight: 600;
    color: var(--color-white);
}

.project-description p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.project-btn span {
    color: #fdcf57;
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.project-btn:hover span {
    margin-left: 40px;
}

.project-image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portfolio-image {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}

.portfolio-image a img {
    border-radius: 45px;
    width: 100% !important;
}

.image-background {
    width: 92% !important;
}

.project-left-section {
    width: 45%;
}

.project-right-section {
    width: 55%;
    padding: 0;
}

.animation {
    height: 1px;
    display: flex;
    justify-content: end;
    margin-top: 10%;
    align-items: center;
    z-index: 0;
    position: relative;
}

.animation-2 {
    justify-content: left !important;
    margin-top: 12%;
}

.gradient {
    width: 100%;
    height: 360px;
    background-color: transparent;
    background-image: linear-gradient(0deg, var(--bg-darkGray) 6%, #F2295B00 100%);
    z-index: 3;
    position: relative;
    margin-top: -170px;
}

.margin-top {
    margin-top: -173px !important;
    z-index: 5;
    position: relative;
}

.project-reverse .project-right-section .project-image {
    justify-content: flex-start;
}

.project-reverse .project-right-section .project-image .portfolio-image {
    transform: translate(0px, -50%);
}

.project-reverse .project-image {
    width: 100% !important;
}

.project-reverse .image-background {
    width: 130% !important;
}

.projects-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.project-reverse .project-right-section {
    display: flex;
    justify-content: flex-end;
}


/* 
====================================
    counter section Styles
====================================
*/

.counter-section {
    max-width: 1600px;
    padding: 40px 35px 170px;
    z-index: 4;
    position: relative;
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.stats div {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 105px 0 70px !important;
    background-color: var(--bg-dark);
    row-gap: 0px;
}

.stats div span.aw-info {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 3.8em;
}

.stats div span.sta {
    color: var(--e-global-color-accent) !important;
    font-family: var(--secondary-font);
    font-size: 87px;
    font-weight: 600;
    line-height: 1;
}


.stats div:first-child {
    border-radius: 45px 0 0 45px;
}

.stats div:last-child {
    border-radius: 0 45px 45px 0;
}

.counter-animation {
    position: absolute;
    right: 33px;
    z-index: -1;
    top: -12px;
}

.counter-animation-2 {
    position: absolute;
    z-index: -1;
    bottom: 100px;
    left: -4px;
}

/* 
====================================
    counter section Styles
====================================
*/

.testemonial-section {
    max-width: 1600px;
    margin: auto;
    padding: 0 35px 200px;
}

.owl-item {
    padding: 0 0 0 180px;
}

.owl-item .item {
    align-items: center;
}

.slider-inner-left {
    background-size: contain !important;
    background-position: center right !important;
    background-repeat: no-repeat !important;
    background-size: contain !important; 
    padding: 30px 40px !important;
    width: 38% !important;
}

.slider-inner-right {
    width: 61% !important;
}

.testimonial-quotes {
    padding-bottom: 35px;
}

.testimonial-image img {
    border-radius: 40px;
}

.custom-dots-container {
    text-align: center;
    margin-top: 10px;  
}
.custom-dots-container div {
    display: inline-block;  
    margin: 0 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    cursor: pointer;
    background: #25262A 0% 0% no-repeat padding-box;
    position: relative;
    border: solid 1px #3d3d3d;
    transition: all .3s ease-in;
}

.custom-dots-container div.active::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--bg-darkGray);
    display: block;
}

.custom-dots-container div.active {
    background: #fecd1a 0% 0% no-repeat padding-box;
}


.testimonial-description p {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: var(--e-global-color-021e33e);
    margin: 0;
    padding: 0 0 35px;
    border-radius: 0;
    max-width: 686px;
}

.testimonial-name {
    font-size: 24px;
    font-weight: 500;
    color: var(--e-global-color-accent);
    margin: 0 0 10px;
    padding: 0;
    border-radius: 0;
}

.testimonial-title {
    font-size: 18px;
    font-weight: 300;
    color: #e8e8e8;
}

.slider-inner-right {
    padding: 0 0 0 80px !important;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.custom-dots-container {
    position: relative;
    margin-top: -80px;
    margin-left: 79px;
    z-index: 4;
}

.owl-carousel {
    z-index: 0;
}


/* 
===========================
    Contact Section styles
===========================
*/

.contact-section {
    max-width: 1600px;
    padding: 35px;
}

.contact-container {
    max-width: 1330px !important;
    margin: auto !important;
    padding: 70px 0 75px !important;
    background-color: var(--bg-dark);
    position: relative;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    row-gap: 20px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
}

.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
}

.contact-divider {
    width: 75px;
    margin: 0 auto;
    border-top: 3px solid #327a56;
}

.contact-heading h3 {
    font-size: 46px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-white);
    margin: 0 0 20px;
    padding: 0;
    border-radius: 0;
    max-width: 491px;
}

.contact-description {
    color: #ecf2fd;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    margin: 0;
    max-width: 731px;
}

/* 
===========================
    footer styles
===========================
*/ 

.site-footer {
    background-color: var(--bg-dark);
}

.inner-footer {
    max-width: 1600px;
    padding: 50px 35px;
}

.footer-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 0;
    vertical-align: middle;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.social-icons .social-icon-btn {
    width: 60px;
    height: 60px;
}